.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
node_modules/**
src/**
webpack.config.js
yarn.lock
package-lock.json
*.vsix
**/*.dbml
agent/**
.DS_Store
.git/**
